*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

img {
    width: 250px;
    margin-bottom: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #999;
}
